.btn{
    transition: 0.4s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    width: 167px;
    height: 56px;
    background: rgba($color: #8D9CA6, $alpha: 0.6);
    margin-bottom: 20px;
    border: 1px solid #DFE5F2;
    &:hover{
        transition: 0.4s;
        background-color: rgba($color: #8D9CA6, $alpha: 0.4);
    }
}